# clang-format configuration for Linux kernel code
# Based on Linux kernel coding style
---
BasedOnStyle: LLVM
IndentWidth: 8
UseTab: Always
TabWidth: 8
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
IndentCaseLabels: false
SortIncludes: false
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: false
AlignTrailingComments: false
ColumnLimit: 80
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
SpaceAfterCStyleCast: false
PointerAlignment: Right
